<%- include('../../partials/header.ejs') %>         <!--BOOTSTRAP HEADER-->
<%- include('../../partials/navbar.ejs') %>         <!--NAVBAR-->


<div class="container">
    <hr>   
    <h2>Categorias</h2>
    <a class="btn btn-success" href="/admin/categories/new">Criar Nova Categoria </a>
    <hr>
    <table class="table table-bordered">                <!--table - TABELA // class="table table-bordered" - FAZ AS BORDAS DA TABELA NO ESTILO BOOTSTRAP-->
        <thead>                                         <!--thead - CABEÇALHO DA TABELA-->
            <tr>                                        <!--tr - LINHA DA TABELA-->
                <th>Id</th>                             <!--th - COLUNA DA TABELA-->
                <th>Título</th>
                <th>Slug</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>                                         <!--tbody - CORPO DA TABELA, ONDE FICARÃO OS DADOS-->
              <% categories.forEach(category =>{ %>     <!--TRANSFERE OS DADOS DA VARIAVEL categoies PARA CADA VARIAVEL category DENTRO DO forEach()-->
                <tr>
                    <th><%= category.id %></th>         <!--EXIBI O id DE CADA VARIAVEL category DENTRO DO forEach-->
                    <th><%= category.title %></th>      <!--EXIBI O title DE CADA VARIAVEL category DENTRO DO forEach-->
                    <th><%= category.slug %></th>       <!--EXIBI O slug DE CADA VARIAVEL category DENTRO DO forEach-->
                    <th>
                        <button class="btn btn-warning">Editar</button>     <!--BOTÃO DE EDITAR-->

                        <button class="btn btn-danger">Deletar</button>     <!--BOTÃO DE DELETAR-->
                    </th>
                </tr>
                <% }) %>
        </tbody>
    </table>
</div>


<%- include('../../partials/footer.ejs') %>         <!--BOOTSTRAP FOOTER-->